@mixin border-1px($color) {
    position: relative;
    &::after {
        display: block;
        position: absolute;
        left:0;
        bottom:0;
        width:100%;
        border-top:1px solid $color;
        content:'';
    }
}
@mixin border-none(){
  &:after {
    display: none;
  }
}

@mixin bg-image($url) {
    background-image: url($url + "@2x.png");
    @media (-webkit-min-device-pixel-ratio: 3) {
        background-image: url($url + "@3x.png");
    }
}

@mixin icon($id) {
  &.decrease {
    @include bg-image('decrease_'+$id);
  }
  &.discount {
    @include bg-image('discount_'+$id);

  }
  &.guarantee {
    @include bg-image('guarantee_'+$id);

  }
  &.invoice {
    @include bg-image('invoice_'+$id);

  }
  &.special {
    @include bg-image('special_'+$id);
  }
}